@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Oswald');

*{
    box-sizing: border-box;
}

img{
    display:block;
    max-width: 100%;
}

body{    
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Aref Ruqaa', serif;
    letter-spacing: 1px;
}
.section__titulo{
    text-align:center;
    font-size: 40px;
    color: darkgreen;
}
.contenedor{
    margin: auto;
    width: 98%;
}
/*Estilos de Header Print Grafic*/
.pre-header{
    height: 60px;
    background-color: black;
}
.header{
    height: 60px;
    background-color: darkgray;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.thead{
    width: 100%;
    height: auto;
    position: fixed;
}
.logos{
    width: auto;
    height: auto;
    display: flex;
}
.logo{
    width: 30%;
    height: 30%;
}
.logotxt{
    width: 35%;
    height: 35%;
}
.logo{
    line-height:30px;
}
.logo, .icon-menu{
    margin: 5px;
    color: white;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: darkgreen;
    text-align: center;
    line-height: 44px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*Estilo menu*/
.nav{
    position: absolute;
    top:60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_link{
    display: block;
    padding: 15px;
    background: darkgreen;
    text-decoration: none;
    color: white;
}

.menu_link:hover, .select {
    background: white;
    color: darkgreen;
}

.mostrar{
    left: 0;
}

/*banner*/
.banner{
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}
.banner__img{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
}

.banner__txt{
    display: none;
}
/*main*/
.main{
    background-color: rebeccapurple;
    position: relative;
    top: 250px;
}
/*Info*/
.info__columna{
    background: darkgreen;
    color:white;
    padding: 15px;
    margin-bottom: 30px;
}
/*cursos*/
.cursos__columna{
    position: relative;
    margin-bottom: 30px;
}
.cursos__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}
.cursos__titulo{
    font-size: 25px;
    margin: 5px 0;
}
.cursos__img{
    width: 100%;
}
/*footer*/
.footer{
    background: darkgreen;
    color: white;
    padding: 10px;
    text-align: center; 
}

.footer .social [class^="icon-"]{
    display: inline-block;
    color: darkgreen;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 35px;
}
/*contenedor header*/
.contheader{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
    background: black;
}
.socialicon{
list-style-type: none;
    display: none;
/*display: inline-block;*/
margin: 0px;
padding-left: 11.2%;
}
.socialicon>li{
float: left;
padding-top: 2px;

}
.socialicon>li>a{
padding-right: 10px;
color: #fff;
text-decoration: none;
}
.socialicon>li>a:hover{
	color: #C59E47;
}
 
.givusacall{
	list-style-type: none;
    display: none;
	/*display: inline-block;*/
	letter-spacing: 1px;
	font-size: 12.7px;	
	color: #E7E7E7;
	margin-bottom: 0px;
	padding-left: 26.1%;
}
.givusacall>li{
		float: right;
}
 .logreg{
     float: right;
 	list-style-type: none;
 	display: inline-block;
	font-size: 12pt;
	color: #E7E7E7;
	margin-bottom: 0px;
	padding-left: 23%;
}
.logreg>li{
float: left;
}
.logreg>li>a{
	text-decoration: none;
	color: #E7E7E7;
	padding-right: 6px;
}
.logreg>li>a:hover{
	color:darkgreen;
}
.logreg .register{
	border-left: 1px solid #E7E7E7;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#particles-js{
    width: 100%;
    height: auto;
    background-color: grey;
}
.slider{
    width: 500px;
    height: 500px;
    background-color: black;
}
/*Estilos responsive*/
@media(min-width:480px){
    .givusacall{
        list-style-type: none;
	    display: inline-block;
	    margin-bottom: 0px;
	    padding-left: 5%;
	    font-size: 12pt;
        margin: -20px;
        justify-content: space-between;
     }
    .logo{
        font-size: 40px;
    }
    .banner__titulo{
        font-size: 30px;
        margin: 10px 0;
    }
    .banner__txt{
        display: block;
        font-size: 19px;
    }
    .info,.cursos{
        display: flex;
        justify-content: space-between;
        margin-top: -100px;
    }
    .info__columna{
        width: 33%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titulo{
        width: 100%;
    }
    .cursos{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .cursos__columna{
        width: 48%;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
}

@media(min-width:678px){
    .givusacall{
        list-style-type: none;
	    display: inline-block;
        text-align: center;
	    margin-bottom: 0px;
	    padding-left: 5%;
	    font-size: 12pt;
        justify-content: space-between;
        margin-bottom: -25px;
        margin-left: 30%;
     }
    .socialicon{
        list-style-type: none;
	    display: inline-block;
	    margin-bottom: 0px;
	    padding-left: 4%;
	    font-size: 12pt;
        margin: -25px;
        justify-content: space-between;
    }
    .banner__titulo{
        font-size: 50px;
    }
    .cursos__titulo{
        font-size: 40px;        
    }
}

@media(min-width:1024px){
      .givusacall{
        list-style-type: none;
	    display: inline-block;
        text-align: center;
	    margin-bottom: 0px;
	    padding-left: 5%;
	    font-size: 12pt;
        justify-content: space-between;
        margin-bottom: -25px;
        margin-left: 32%;
     }
    .contenedor{
        width: 1000px;
    }
    .section__titulo{
        font-size: 50px;
        margin: 10px 0;
    }
    .nav{
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu_link{
        background: none;
        font-size: 20px;
    }
    .select{
        background: white;
    }
    .banner__titulo{
        font-size: 60px;
    }
    .info_titulo{
        font-size: 40px;
        text-align: center;
    }
    .cursos__titulo{
        font-size: 50px;        
    }
}